<div class="container">
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortChanged($event)">
    <ng-container matColumnDef="userName" *ngIf="role != 'customer'">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Username</mat-header-cell>
      <mat-cell *matCellDef="let booking">{{booking.userName | uppercase}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bookTitle">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Book Title</mat-header-cell>
      <mat-cell *matCellDef="let booking">{{booking.bookTitle}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="bookAuthor">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Book Author</mat-header-cell>
      <mat-cell *matCellDef="let booking">{{booking.bookAuthor}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="issueDate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Issue Date</mat-header-cell>
      <mat-cell *matCellDef="let booking">{{booking.issueDate | date:"fullDate"}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="returnDate" class="row">
      <mat-header-cell *matHeaderCellDef mat-sort-header class="col-8">Return Date</mat-header-cell>
      <mat-cell *matCellDef="let booking">{{booking.returnDate | date:"fullDate"}}
        <button mat-fab *ngIf="role == 'customer'" class="col-4" 
                (click)="returnBook(booking.bookTitle, booking.bookId, booking.userId)"
                matTooltip="Return Book">
                Return</button>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
<mat-paginator #paginator [pageIndex]="0" 
                          [length]="resultsLength" 
                          [pageSize]="5" 
                          (page)="pageEvent = $event">
</mat-paginator>
</div>