<div class="row">
  <div class="col-2"></div>
  <div class="container-fluid col-8">
    <div *ngFor="let config of configs">
      <h4>{{config.label}}</h4>
      <mat-form-field>
        <input matInput type="number" placeholder="Enter a Value" value="{{config.value}}" (change)="changeConfig(config.key, $event.srcElement.valueAsNumber)">
      </mat-form-field>
    </div>
  </div>
  <div class="col-2"></div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-3">
    <button mat-raised-button color="primary" (click)="saveSettings()">Save Changes</button>
  </div>
  <div class="col-2"></div>
  <div class="col-3">
    <button mat-raised-button color="warn" (click)="cancelChanges()">Cancel</button>
  </div>
  <div class="col-2"></div>
</div>